@{
    Random rnd = new Random();
    int sayi1 = rnd.Next(1, 50);
    int sayi2 = rnd.Next(1, 50);
    int sayi3 = rnd.Next(1, 50);
    int sayi4 = rnd.Next(1, 50);
    int sayi5 = rnd.Next(1, 50);
    int sayi6 = rnd.Next(1, 50);
    <h1>Kazanan Numaralar: @sayi1, @sayi2, @sayi3, @sayi4, @sayi5, @sayi6 </h1>
}