@*<section id="banner">
    <h2>Alpha</h2>
    <p>COMOSYS</p>
    <ul class="actions special">
        <li><a asp-controller="User" asp-action="SignUp" class="button primary">Sign Up</a></li>
        <li><a asp-controller="User" asp-action="SignIn" class="button primary">Sign In</a></li>
    </ul>
</section>*@

<!-- Main -->
@*<section id="main" class="container">
    <div>
        
    </div>
</section>*@