@model Metin

<form asp-controller="UnluUyumu" asp-action="UyumluMu" method="post">  
    <label class="form-label" asp-for="Kelime">Kelime Giriniz: </label>
    <input class="form-control" asp-for="Kelime" />
    <button type="submit" class="btn btn-info">Kontrol Et</button>
</form>