<div class="slider-area">
    <div class="slider-active dot-style">
        <!-- Slider Single -->
        <div class="single-slider d-flex align-items-center slider-height">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-10 ">
                        <!-- Video icon -->
                        <div class="video-icon">
                            <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0" data-animation="bounceIn" data-delay=".4s">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                        <div class="hero__caption">
                            <span data-animation="fadeInUp" data-delay=".3s">We help to groom your pet</span>
                            <h1 data-animation="fadeInUp" data-delay=".3s">We Care Your Pets.</h1>
                            <p data-animation="fadeInUp" data-delay=".6s">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna sectetur adipisci.</p>
                            <a href="#" class="hero-btn" data-animation="fadeInLeft" data-delay=".3s">Contact Now<i class="ti-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Single -->
        <div class="single-slider d-flex align-items-center slider-height">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-10 ">
                        <!-- Video icon -->
                        <div class="video-icon">
                            <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=1aP-TXUpNoU" data-animation="bounceIn" data-delay=".4s">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                        <div class="hero__caption">
                            <span data-animation="fadeInUp" data-delay=".3s">We help to groom your pet</span>
                            <h1 data-animation="fadeInUp" data-delay=".3s">We Care Your Pets.</h1>
                            <p data-animation="fadeInUp" data-delay=".6s">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna sectetur adipisci.</p>
                            <a href="#" class="hero-btn" data-animation="fadeInLeft" data-delay=".3s">Contact Now<i class="ti-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Social -->
    <div class="button-text d-none d-md-block">
        <span>Screll</span>
    </div>
</div>