@model MVCPictureCRUD.Models.Animal

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<h4>Animal</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Update" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" class="form-control">
                        <option value="">-- Select Animal Type --</option>
                        <option value="0">Cat</option>
                        <option value="1">Dog</option>
                        <option value="2">Mouse</option>
                        <option value="3">Bird</option>
                        <option value="4">Fish</option>
                        <option value="5">Other</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" asp-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" type="date" class="form-control" />
                    <span asp-validation-for="BirthDate" asp-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PicturePath" class="control-label"></label>
                    <input asp-for="PicturePath" type="file" class="form-control" value="@ViewData["ExistingPicture"].ToString();" name="file" />
                    <span asp-validation-for="PicturePath" asp-for="PicturePath" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" id="update" />

                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-warning">Back to List</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
